@{
    ViewBag.Title = "Contactos";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Ricardo Canto</h3>
    </header>
    <p>
        <span class="label">Telefone:</span>
        <span>99 999 999</span>
    </p>
    <p>
        <span class="label">Email:</span>
        <span>ricardo@example.com</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Luís Brás</h3>
    </header>
    <p>
        <span class="label">Telefone:</span>
        <span>99 999 998</span>
    </p>
    <p>
        <span class="label">Email:</span>
        <span>luis@example.com</span>
    </p>
</section>