@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Exemplo de um Policy Enforcement Point para a disciplina de Segurança Informática.
            </p>
        </div>
    </section>
}
<h3>Instruções:</h3>
<p>
    Teste.
</p>
