@using PDPLib.Models
@{
    ViewBag.Title = "Recursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Páginas de acesso restrito a que está autorizado a aceder:</h2>
    
@if (@ViewBag.Resources == null)
{
    <p>Não está autorizado a aceder a nenhuma página.</p>
}
else
{
    <ul>
        @foreach (Resource r in ViewBag.Resources)
        {
            <li><a href="@r.ResourceName">@r.ResourceName</a></li>
        }
    </ul>
}

